::-webkit-scrollbar {
  width: 15px;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background: #212f3c;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb {
  background: #fd0002;
  border-radius: 15px;
  height: 2px;
}

